<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

	<connectionStrings>
		 <add name="starbookConnectionString" connectionString="Data Source=.;Initial Catalog=starbook;Persist Security Info=True;User ID=sa;Password=sonustar" providerName="System.Data.SqlClient" />
	 </connectionStrings>
	<system.web>
		<pages viewStateEncryptionMode="Never" ></pages>
		<compilation debug="true" targetFramework="4.0" />
		<httpRuntime requestValidationMode="2.0" maxRequestLength="204800" />
	</system.web>
	<appSettings>
 <add key="SqlConnectionString" value="server=.;initial catalog=starbook;user id=sa;password=sonustar;"/>
	 </appSettings>


	<system.serviceModel>
		<behaviors>
   <endpointBehaviors>
    <behavior name="Chathub.WSStarServiceAspNetAjaxBehavior">
     <enableWebScript />
    </behavior>
   </endpointBehaviors>
   <serviceBehaviors>
    <behavior name="">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
   multipleSiteBindingsEnabled="true" />
		<services>
			<service name="Chathub.WSStarService">
				<endpoint address="" behaviorConfiguration="Chathub.WSStarServiceAspNetAjaxBehavior"
     binding="webHttpBinding" contract="Chathub.WSStarService" />
			</service>
		</services>
	</system.serviceModel>

</configuration>
